<div class="login-wrapper">

  <div class="login-card">

    <div class="logo">
      📚
    </div>

    <h3 class="menu-title">Library</h3>
    <p class="subtitle">
      Accede a la plataforma de gestión
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- EMAIL -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>El email es obligatorio</mat-error>
        }

        @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>Email inválido</mat-error>
        }
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />

        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>La contraseña es obligatoria</mat-error>
        }
      </mat-form-field>

      <!-- BOTÓN PRINCIPAL -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="cta"
        [disabled]="loginForm.invalid"
      >
        Entrar
      </button>

      <!-- BOTÓN SECUNDARIO -->
      <button
        mat-button
        type="button"
        class="secondary"
        (click)="register()"
      >
        Crear cuenta
      </button>

      <!-- ERROR BACKEND -->
      @if (error) {
        <p class="error">
          {{ error }}
        </p>
      }

    </form>

  </div>

</div>
