<mat-sidenav-container class="sidenav-container">

  <!-- SIDENAV -->
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- CONTENIDO -->
  <mat-sidenav-content>

    <!-- TOOLBAR -->
    <app-toolbar
      (menuToggle)="drawer.toggle()"
    ></app-toolbar>

    <!-- ROUTER -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
