/* Contenedor global */
.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background-color: #243447;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Cuerpo (sidebar + contenido) */
.body {
  flex: 1;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #ecf0f1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: #2c3e50;
  padding: 0.5rem 0;
  font-weight: 500;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* CONTENIDO */
.content {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
}
