<!-- NAVBAR (SIEMPRE ARRIBA) -->
<app-toolbar
  (menuToggle)="drawer.toggle()"
></app-toolbar>

<!-- CONTENEDOR PRINCIPAL -->
<mat-sidenav-container class="layout-container">

  <!-- SIDENAV -->
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- CONTENIDO -->
  <mat-sidenav-content class="layout-content">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
